
<!DOCTYPE html>
<html th:replace="~{adminlte3 :: layout (~{::title}, ~{::main},_,~{::scripts})}">
<head>
    <th:block th:fragment="title">Nova publicação</th:block>
</head>
<body>
    <main>
        <div class="row">
           <div class="col">
            <div class="card card-success">
                <div class="card-header">
                    <div class="title home-title">
                        <span th:text="${form.title != null ? 'Alterar' : 'Publicar'}"></span> uma publicação
                    </div>
                </div>
                <div class="card-body">
                
                
                    <form method="POST" th:object="${form}">
                        <div class="row">
                        
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="title">Título:</label>
                                    <input class="form-control" type="text" th:field="*{title}">
                                    <ul>
                                    	<li class="text-danger" th:each="erro : ${#fields.errors('title')}" th:text="${erro}"></li>
                                    </ul>
                                </div>
                            </div> 
                            
                             <div class="col-12">
                                <div class="form-group">
                                    <label for="icone">Local da postagem:</label>
                                    <select class="form-control" th:field="*{postType}">
                                    <option th:if="${postType.nome != 'Ouvidoria'}" th:each="postType : ${postTypes}" th:text="${postType.nome}" th:value="${postType}"></option>
                                    </select> 
                                    <ul>
                                    	<li class="text-danger" th:each="erro : ${#fields.errors('postType')}" th:text="${erro}"></li>
                                    </ul>
                                </div>
                            </div> 
                                <div class="col-12">
                                <div class="form-group">
                                    <label for="text">Texto:</label>
                                    <textarea class="form-control money" id="summernote" type="text"  th:field="*{text}"/>
                                    <ul>
                                    	<li class="text-danger" th:each="erro : ${#fields.errors('text')}" th:text="${erro}"></li>
                                    </ul>
                                </div>
                            </div> 
                        <div class="col-12"><button onclick="verificar()" type="submit" class="btn btn-success">Enviar</button></div>
                        </div>
                         
                    </form>
                    
                </div>
              </div>
           </div> 
        </div>
    </main>
    
   <th:block th:fragment="scripts">
	    <th:block th:replace="~{fragments/_summernote :: summernote}"> 
	    </th:block>
	</th:block>
    
    
</body>
</html>