<!DOCTYPE html>
<html  th:replace="~{adminlte3 :: layout (~{::title},~{::main},_,_ )}">>
<head>
    <title>Central de avisos</title>
</head>
<body>
	<main>
         <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title home-title">Central de avisos</div>
                        <div class="card-tools">
                        	<a class="btn btn-sm btn-success">Novo Post</a>
                        </div>
                    </div>
                    <div class="card-body">
						<div class="card shadow-sm bg-white rounded" style="margin-top: 20px;">
		            	 	<div class="card-body">
		                		<p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
		                    		<div><i class="bi bi-person"></i><span>Juan Nobert</span></div>
		                    		<div><i class="bi bi-calendar-event"></i><span>22/10/2000</span></div>
		                		</p>
		               			 <a ><h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px;"><span>Título</span></h4></a>
		                		 <p class="card-text">Tetxoooooooooooooo</p>
		           		   </div>
        				</div>
        				
        				<div class="card shadow-sm bg-white rounded" style="margin-top: 20px;" th:each="post : ${posts}">
		            	 	<div class="card-body">
		                		<p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
		                    		<div><i class="bi bi-person"></i><span>Juan Nobert</span></div>
		                    		<div><i class="bi bi-calendar-event"></i><span th:text="${post.date}"></span></div>
		                		</p>
		               			 <a ><h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px;"><span th:text="${post.title}">Título</span></h4></a>
		                		 <p class="card-text" th:text="${post.text}"></p>
		           		   </div>
        				</div>
                    </div>
                </div>
            </div>
        </div>
           <div th:if="${page.totalPages > 0}">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:class="${page.isFirst()} ? 'disabled'">
                <a class="page-link" th:href="@{/post/avisos(page=0)}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:class="${page.number-1} == 0 ? 'disabled'">
                <a class="page-link" th:href="@{/post/avisos(page=${page.number-1})}" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>
            <li th:each="i : ${#numbers.sequence(0, page.totalPages-1)}" class="page-item" th:class="${i} == ${page.number} ? 'active'">
                <a class="page-link" th:href="@{/post/avisos(page=${i})}">[[${i+1}]]</a>
            </li>
            <li class="page-item" th:class="${page.number+1} > ${page.totalPages-1} ? 'disabled'">
                <a class="page-link" th:href="@{/post/avisos(page=${page.number+1})}" aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>
            <li class="page-item" th:class="${page.isLast()} ? 'disabled'">
                <a class="page-link" th:href="@{/post/avisos(page=${page.totalPages-1})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
    </main>
    
 
     
</body>
</html>