<!DOCTYPE html>
<html  th:replace="~{adminlte3 :: layout (~{::title},~{::main},_,_ )}">>
<head>
    <th:block th:fragment="title">Listagem de <th:block th:text="${isUser ? 'usuários' : 'gremistas'}"></th:block> </th:block>
</head>
<body>
	<main>
        <div class="row">
            <div class="col">
                <div class="card card-success">
                    <div class="card-header">
                        <div class="card-title home-title">Listagem de <span th:text="${isUser ? 'usuários' : 'gremistas'}"></span></div>
                        
                    </div>
                    <div class="card-body">
                    <div class="table-responsive">
						<table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Nome completo</th>
                                    <th>E-mail</th>
                                    <th>Função</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.name}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${isUser ? user.function : user.officie}"></td>
                                    
                                    <td>
                                        <a 
                                        class="btn btn-sm btn-danger"
                                        onclick="return confirm('Tem certeza que deseja excluir esse usuário?')"
                                        >Excluir</a>
                                    </td>
                                    
                                    
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>