<!DOCTYPE html>
<html  th:replace="~{adminlte3 :: layout (~{::title},~{::main},~{::styles},_ )}">>
<head>
    <title>Lista de Serviços</title>
</head>
<body>
	<main>
         <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title home-title">Bem vindo(a) ao site da Gestão R.E.P.S</div>
                    </div>
                    <div class="card-body">
						<p>Texto de boas vindas</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
     <th:block th:fragment="styles">
    	<link th:href="@{/css/home.css}" rel="stylesheet" />
    </th:block>
</body>
</html>